*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 85px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: white;
    font-weight: bold;
    background-color: black;
    background-image: url(./images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(218, 218, 218, 0.6);
}

::-webkit-scrollbar-thumb {
    background: #EA5D10;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: auto;
    padding: 5px;
    width: 90%;
    background-color: black;
    z-index: 999;
    border-radius: 5px;
}

#logo {
    width: 60px;
    border-radius: 5px;
}

#btn-mobile {
    display: none;
}

#menu {
    display: flex;
    list-style: none;
    font-size: 15px;
    cursor: pointer;
}

#menu a {
    display: block;
}

li {
    border-radius: 5px;
    margin: 8px;
}

.linksMenu {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.linksMenu:focus,
link:hover {
    color: #EA5D10;
}

.linksMenu:focus:after,
.linksMenu:hover:after {
    width: 100%;
    left: 0%;
}

.linksMenu:after {
    content: "";
    pointer-events: none;
    bottom: -5px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #EA5D10;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.title {
    text-align: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 80px;
    text-shadow: 2px 2px 2px #EA5D10;
}

.btn-whats {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgb(28, 35, 41);
}

.btn-whats::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 105%;
    height: 105%;
    background-color: #1C1D29;
    left: 0;
    top: 0;
    border-radius: 10px;
    border: none;
}

.btn-whats::before {
    content: "";
    background: linear-gradient(45deg,
            #EA5D10, #6AEB46, #EA5D10, #6AEB46,
            #EA5D10, #6AEB46, #EA5D10, #6AEB46);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 20px);
    height: calc(100% + 10px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
    border: none;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* hover */
.btn-whats:hover::before {
    opacity: 1;
}

.btn-whats:active:after {
    background: transparent;
}


.btn-whats:active {
    color: #000;
    font-weight: bold;
}

.buttontext {
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.logo-whats {
    float: left;
    width: 40px;
    margin-right: 20px;
}

.topicos {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    text-shadow: 0px 0px 7px #EA5D10;
}

.tópicos::after {
    content: '';
    width: 200px;
    height: 4px;
    background-color: #EA5D10;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 40%;
}

.sobre-container {
    display: block;
    width: 90%;
    height: auto;
    margin: auto;
    text-align: justify;
    font-size: 18px;
    background-color: #ffffff10;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    padding: 20px;
}

.rally {
    float: left;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.serviços-container {
    width: 90%;
    margin: auto;
    text-align: justify;
    font-size: 18px;
}

.text-services {
    background-color: #ffffff10;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    padding: 20px;
}

.container-icons {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 30px;
}

.quadro-icons {
    transform: .2s;
    overflow: hidden;
    flex: 1 1 200px;
    box-sizing: border-box;
    padding-top: 15px;
    text-align: center;
    color: black;
    font-size: 14px;
    height: 100px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

.quadro-icons:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -moz-box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -webkit-box-shadow: 0px 0px 30px rgb(94, 94, 94);
}

.icons {
    overflow: hidden;
    margin-left: 50%;
    margin-bottom: 10px;
    transform: translateX(-50%);
    display: flex;
    width: 40px;
}

.container-depoimento {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    width: 90%;

}

.quadro-depoimentos {
    flex: 1 1 150px;
    background-color: white;
    box-sizing: content-box;
    padding: 20px;
    margin: 20px 5px;
    text-align: center;
    width: auto;
    color: rgb(53, 52, 52);
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.quadro-depoimentos:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -moz-box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -webkit-box-shadow: 0px 0px 30px rgb(94, 94, 94);
}

.quote-sign-right {
    width: 30px;
}

.quote-sign-left {
    width: 30px;
}

.contato-container {
    width: 90%;
    margin: auto;
    padding: 40px;
    background-color: #ffffff10;
    backdrop-filter: blur(3px);
    border-radius: 20px;
}

.contatos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    text-align: justify;
    font-size: 18px;
}

.text-contato {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.quadro-contatos {
    transform: .2s;
    flex: 1 1 160px;
    box-sizing: border-box;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin: 3px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid white;
}

.quadro-contatos:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -moz-box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -webkit-box-shadow: 0px 0px 30px rgb(94, 94, 94);
}

.formContainer {
    width: 70%;
    margin-top: 20px;
}

.form-control {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.form-button {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.form-button:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -moz-box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -webkit-box-shadow: 0px 0px 30px rgb(94, 94, 94);
}

.maps {
    width: 100%;
    height: 400px;
    margin-bottom: 0;
}

footer {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: -4px;
    padding: 5px 20px 20px 20px;
    background-color: black;

    text-align: center;

}

.socialmidias {
    margin: 20px
}

.links {
    color: rgb(98, 164, 250);
}

.links-midias {
    color: black;
}

.politica {
    margin-right: 20px;
}

.credits {
    margin-top: 20px;
}

.whatsapp-fixed {
    position: fixed;
    display: flex;
    bottom: 60px;
    height: 70px;
    right: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 250ms;
    border-radius: 50%;
    width: 45px;
    height: auto;
}

@keyframes anima {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
        box-shadow: 0px 0px 30px #29A71A;
        -moz-box-shadow: 0px 0px 30px #29A71A;
        -webkit-box-shadow: 0px 0px 30px #29A71A;
    }
}

@keyframes anima2 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
        box-shadow: 0px 0px 30px #29A71A;
        -moz-box-shadow: 0px 0px 30px #29A71A;
        -webkit-box-shadow: 0px 0px 30px #29A71A;
    }
}

.whatsapp-fixed {
    animation-name: anima;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.back-to-top {
    position: fixed;
    display: none;
    bottom: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(105, 105, 105);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 250ms;
}

.back-to-top::after {
    content: "↑";
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: margin-top 250ms;
    margin-top: 3px;
}

.back-to-top:hover::after {
    margin-top: -8px;
}

.back-to-top:hover {
    background-color: #EA5D10;
}


@media screen and (max-width: 850px) {

    body {
        margin: auto;
        overflow-x: hidden;
        width: 100%;
    }

    #menu {
        display: flex;
        position: absolute;
        width: auto;
        top: 35px;
        background: black;
        transition: 1s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        flex-direction: column;
        align-items: flex-end;
        right: 0;
        border-radius: 10px;
    }

    #nav.active #menu {
        height: auto;
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        margin: 0 1rem;
    }

    #btn-mobile
    {
        display: flex;
        font-size: 22px;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        color: white;
    }

    #hamburger {
        border-top: 2px solid;
        width: 30px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: currentColor;
        margin-top: 7px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -8px;
    }

    .title {
        font-size: 30px;
    }

    .sobre-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .rally {
        width: 350px;
        border-radius: 10px;
    }

    .whatsapp-fixed {
        height: 50px;
    }

    .buttontext {
        text-decoration: none;
        color: white;
        float: right;
    }
}


@media screen and (max-width: 550px) {

    .title {
        font-size: 25px;
    }

    .buttontext {
        font-size: 15px;
    }

    .topicos {
        font-size: 20px;
    }

    .btn-whats {
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        width: 80%;
    }

    #logo {
        width: 45px;
    }

    footer, .quadro-contatos, .quadro-depoimentos {
        font-size: 15px;
    }

    .formContainer {
        width: 100%;
    }
    
    .form-control {
        width: 100%;
    }
    
    .form-button {
        width: 100%;
    }

    footer {
        font-size: 15px;
    }
    
    .rally {
        width: 250px;
    }

}