body {
    margin: 0;
    padding: 0;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: black;
    color: WHITE;

}

.header {
    overflow: hidden;
    margin: auto;
    width: 80%;
    height: 90px;
    font-size: 22px;
    background-color: black;
    position: sticky;
    top: 0;
}

.menu {
    margin-top: 32px;
    margin-right: 10px;
    list-style: none;
    float: right;
    cursor: pointer;
}

.menu :hover{
    color: orangered;
}

li {
    padding-left: 40px;
    float: left;
    color: white;
}

.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    float: left;
    width: 70px;


}

.whatsapp {
    overflow: hidden;
    margin: auto;
    width: 380px;
    height: 100px;
    font-size: 22px;
    background-color: darkgreen;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

.whatsapp:hover{
    box-shadow:
    0 0 50px 50px orangered inset,
    0 0 10px green;
}


.button {
    margin-top: 15px;
    float: left;
    width: 70px;
}

.clique {
    text-align: center;
    margin-top: 24px;
}


.intro-container {
    font-size: 30PX;
    text-align: center;
    padding: 50px;
}

.image1 {
    margin-left: 80px;
    margin-top: 150px;
    display: block;
    width: 250px;
}

.image2 {
    margin-left: 80px;
    display: block;
    width: 250px;
}