html, body {
    scroll-behavior: smooth;
    background-color: red;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: white;
    background-color: black;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(218, 218, 218, 0.6);
}

::-webkit-scrollbar-thumb {
    background: #EA5D10;
}


header {
    text-decoration: none;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 90%;
    height: 81px;
    background-color: black;
}

.nav-menu {
    float: right;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 10px;
}

li {
    text-decoration: none;
    float: left;
    list-style: none;
    padding: 10px;
    margin: 5px;
    color: white;
}

.linksmenu {
    text-decoration: none;
    color: white;
}

.linksmenu:hover {
    text-decoration: none;
    color:#EA5D10;
}

.logo {
    float: left;
    width: 71px;
    margin-top: 5px;
    margin-left: 10px;
}

.buttonwhats {
    box-sizing: border-box;
    transform: .2s;
    overflow: hidden;
    margin: auto;
    padding: 8px;
    width: 320px;
    height: auto;
    font-size: 18px;
    background-color: #EA5D10;
    cursor: pointer;
    border-radius: 18px;
    vertical-align: middle;
}

.buttonwhats:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
    box-shadow: 0px 0px 30px #EA5D10;
    -moz-box-shadow: 0px 0px 30px #EA5D10;
    -webkit-box-shadow: 0px 0px 30px #EA5D10;
}

.whatsapp {
    float: left;
    width: 40px;
    margin-right: 5px;
}

.buttontext {
    text-decoration: none;
    color: white;
    text-align: center;
}

.intro-container {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    margin: 50px;
}

#sobre {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    text-shadow: 0px 0px 7px #EA5D10;
}

#sobre::after {
    content: '';
    width: 200px;
    height: 4px;
    background-color: #EA5D10;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 40%;
}

.sobre-container {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align: justify;
    font-size: 18px;
}

.rally {
    float: left;
    width: 250px;
    margin-right: 20px;
}

#serviços {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    text-shadow: 0px 0px 7px #EA5D10;
}

#serviços::after {
    content: '';
    width: 200px;
    height: 4px;
    background-color: #EA5D10;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 40%;
}

.serviços-container {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align: justify;
    font-size: 18px;
}

.container-icons {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 30px;
}

.quadro-icons {
    transform: .2s;
    overflow: hidden;
    flex: 1 1 160px;
    box-sizing: border-box;
    padding-top: 15px;
    text-align: center;
    color: black;
    font-size: 14px;
    height: 100px;
    background-color: beige;
    margin: 10px;
    border-radius: 10px;
}

.quadro-icons:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -moz-box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -webkit-box-shadow: 0px 0px 30px rgb(94, 94, 94);
}

.icons {
    overflow: hidden;
    margin-left: 50%;
    margin-bottom: 10px;
    transform: translateX(-50%);
    display: flex;
    width: 40px;
}

#clientes {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    text-shadow: 0px 0px 7px #EA5D10;
}

#clientes::after {
    content: '';
    width: 200px;
    height: 4px;
    background-color: #EA5D10;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 40%;
}

.container-depoimento {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    width: 90%;

}

.quadro-depoimentos {
    flex: 1 1 150px;
    background-color: white;
    box-sizing: content-box;
    padding: 20px;
    margin: 20px 5px;
    text-align: center;
    width: auto;
    color: rgb(53, 52, 52);
    font-size: 18px;
    font-weight: bold;
}

.quadro-depoimentos:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -moz-box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -webkit-box-shadow: 0px 0px 30px rgb(94, 94, 94);
}

.quote-sign-right {
    width: 30px;
}

.quote-sign-left {
    width: 30px;
}

#contato {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    text-shadow: 0px 0px 7px #EA5D10;
}

#contato::after {
    content: '';
    width: 200px;
    height: 4px;
    background-color: #EA5D10;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 40%;
}

.contato-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align: justify;
    font-size: 18px;
}

.quadro-contatos {
    transform: .2s;
    overflow: hidden;
    flex: 1 1 160px;
    box-sizing: border-box;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    border-radius: 10px;
}

.formulário {
    width: 90%;
    margin: auto;
    padding-left: 20px;
}

.form-control {
    margin: auto;
    display: flex;
    padding: 10px;
    margin: 10px;
    width: 90%;
}

#localização {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top:  80px;
    text-shadow: 0px 0px 7px #EA5D10;
}

#localização::after {
    content: '';
    width: 200px;
    height: 4px;
    background-color: #EA5D10;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 40%;
}

.maps {
    width: 100%;
    height: 400px;
    margin-bottom: 0;
}

footer {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: -4px;
    padding: 5px 20px 20px 20px;
    background-color: black;
    
    text-align: center;

}

.socialmidias {
    margin: 20px
}

.credits {
    margin-top: 20px;
}

.whatsapp-fixed {
    position: fixed;
    display: flex;
    bottom: 80px;
    height: 80px;
    right: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 250ms;
    border-radius: 50%;
}

@keyframes anima {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.1);
        box-shadow: 0px 0px 30px #29A71A;
        -moz-box-shadow: 0px 0px 30px #29A71A;
        -webkit-box-shadow: 0px 0px 30px #29A71A;
    }
}
@keyframes anima2 {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.3);
        box-shadow: 0px 0px 30px #29A71A;
        -moz-box-shadow: 0px 0px 30px #29A71A;
        -webkit-box-shadow: 0px 0px 30px #29A71A;
    }
}

.whatsapp-fixed {
    animation-name: anima;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.whatsapp-fixed:hover {
    animation-name: anima2;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.back-to-top {
    position: fixed;
    display: none;
    bottom: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(105, 105, 105);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 250ms;
}

.back-to-top::after {
    content: "↑";
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: margin-top 250ms;
    margin-top: 3px;
}

.back-to-top:hover::after {
    margin-top: -8px;
}

.back-to-top:hover {
    background-color: #EA5D10;
}
